<!-- Header
================================================== -->
  <div class="row">
    <div class="header-content twelve columns">
      {% if SITELOGO %}
        <img id="header-logo" src= "{{ SITEURL }}/images/{{SITELOGO}}">
      {% else %}
        <img id="header-logo" src= "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/header-content-bg.png">
      {% endif %}
      <h1 id="logo-text"><a href="{{ SITEURL }}" title="">{{ SITENAME }}</a></h1>
      <p id="intro">{{ SITESUBTITLE }}</p>
    </div>
  </div>

  <nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
    <div class="row">
      <ul id="nav" class="nav">

      {% for menu_element in MENU_ELEMENTS %}
        {% if menu_element == 'menu_links' %}
        <!-- Links that are not pages -->
          {% for link in MENU_LINKS %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}

        {% elif menu_element == 'pages' %}
        <!-- Links for Pages, ordered by PAGES_SORT_ATTRIBUTE (def. title) -->
          {% if not PAGES_SORT_ATTRIBUTE -%}
            {% set PAGES_SORT_ATTRIBUTE = 'title' %}
          {%- endif %}
          {% for p in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
            <li{% if p == page %} class="current"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}

        {% elif menu_element == 'categories' %}
        <!-- Links for Categories, create Dropdown -->
          <li class="has-children"><a href="#">Categories</a>
            <ul>
              {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
              {% endfor %}
            </ul>
          </li>

        {% endif %}
        {% endfor %}
      </ul> <!-- end #nav -->
    </div>
  </nav> <!-- end #nav-wrap -->
