<!-- Sidebar -->
<div id="sidebar" class="four columns">
  {% for sidebar_element in SIDEBAR_ELEMENTS %}
    {% if sidebar_element == 'tipuesearch_input' %}
      {% include 'include/sidebar_tipuesearch_input.html' %}

    {% elif sidebar_element == 'categories' %}
      {% include 'include/sidebar_categories.html' %}

    {% elif sidebar_element == 'tags' %}
      {% include 'include/sidebar_alltags.html' %}

    {% elif sidebar_element == 'text' %}
      {% include 'include/sidebar_text.html' %}

    {% elif sidebar_element == 'links' %}
      {% include 'include/sidebar_links.html' %}

    {% endif %}
  {% endfor %}









</div> <!-- end sidebar -->
