{% extends "base.html" %}

{% block pyscript %}
  {% if (article.pyscript and 'JS' in article.pyscript) %}
    <!-- PyScript -->
    {% if 'CSS' in article.pyscript %}
      <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    {% endif %}
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock pyscript %}

{% block content %}
<!-- Content - Article -->
  <div class="row">
    <div id="main" class="eight columns">
      <article class="entry">
        {% with caller='article' %}
          {% include 'include/article_info.html' %}
        {% endwith %}

        <div class="entry-content">

          {% include 'include/series_ini.html' %}
          {{ article.content }}
          {% include 'include/series_fin.html' %}

        </div>
      </article>

<!-- Comments -->
      {% include 'include/disqus_comments.html' %}
    </div> <!-- main End -->
    {% include 'include/sidebar.html' %}
  </div> <!-- end row -->
{% endblock %}
