{% extends "base.html" %}

{% block content %}
<!-- Content - Index
================================================== -->
  <div class="row">
    <div id="main" class="eight columns">

      {% block index_header %}
      {% endblock %}

      {% for article in articles_page.object_list %}
        <article class="entry">
          {% with caller='index' %}
            {% include 'include/article_info.html' %}
          {% endwith %}
          <div class="entry-content">
            {{ article.summary|striptags }}
          </div>

        </article> <!-- end entry -->
        {% if not loop.last %} <hr> {% endif %}
      {% endfor %}
    </div> <!-- end main -->
    {% include 'include/sidebar.html' %}
  </div> <!-- end row -->
{% include 'include/pagination.html' %}
{% endblock %}
